# Exemplo de variáveis de ambiente
NODE_ENV=production
PORT=3000
HOST=0.0.0.0
APP_NAME=SACI – Sistema de Avaliação da Qualidade dos Igarapés
MAP_CENTER_LAT=-3.119
MAP_CENTER_LNG=-60.021
MAP_ZOOM=12
TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
TILE_ATTRIBUTION=&copy; OpenStreetMap contributors